<%= content_for(:head) do %>
  <link rel="stylesheet" href="<%= asset_url('home.css') %>">
<% end %>

<h1>My List</h1>

<div id="bookmark-list"></div>

<%= content_for(:scripts) do %>
  <script type="application/json" id="bookmarks-data">
    <%= raw(bookmarks.to_json) %>
  </script>
  <script crossorigin src="<%= asset_url('home.js') %>"></script>
<% end %>
