<!DOCTYPE html>
<html>
  <head>
    <title>Wracket</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">

    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
    <script crossorigin src="<%= asset_url('vendor.js') %>"></script>
    <script crossorigin src="<%= asset_url('app.js') %>"></script>
    <%= yield :scripts %>
  </body>
</html>
