<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">

    <title>Wracket</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    <% if should_load_css? %>
      <link rel="stylesheet" href="<%= asset_url('global-styles.css') %>">
    <% end %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
    <% common_javascript_assets.each do |path| %>
      <script crossorigin src="<%= asset_url(path) %>"></script>
    <% end %>
    <%= yield :scripts %>
  </body>
</html>
